# Directories
.vs/
bin/
bin-int/

# Files
*.user
*.sln
*.vcxproj
*.filters
imgui.ini
ChromariaProfile-Startup.json
ChromariaProfile-Shutdown.json
ChromariaProfile-Runtime.json

# Exception
!/vendor/bin/premake/*